<div class="panel panel-default">
      <div class="panel-heading">List all Customers</a></div>
      <div class="panel-body">
        <div class="list-group">
          <a ng-repeat="item in data" ng-href="#" class="list-group-item">
            <div>{{item}} + prova</div>
          </a>
        </div>
      </div>
    </div>
