
<div class="panel panel-default">
      <div class="panel-heading">List all Customers</div>
      <div class="panel-body">
        <div class="list-group">

          {{#each json}}
            <div class="list-group-item"> {{name}}  -  <a href="/dashboard/{{id}}">Dashboard</a></div>
          {{/each}}


        </div>
      </div>
</div>
